    <section class="row-fluid track">

		<div class="col-xs-12">
			<a href="#tracks">
				<h2>Tracking</h2>
					<div class="row-fluid">
						<div class="col-xs-6 state">
							<h3>current state</h3>
							
							<span class="footprint"><%= data.footprint_total %> Kg CO<sub>2</sub></span>

						</div>
						<div class="col-xs-6 trend"><h3>your trend</h3>
						</div>
					</div>

					<div class="arrow arrow-white">
					<i class="fa fa-chevron-right"></i>
					</div>
			
				</div>
			</a>
    </section>

    <section class="row-fluid shopping">
    	<a href="#shopping">
	      <div class="col-xs-12">
		      <h2>Create a shopping list</h2>
					
					<ul class="products">
						<li class="product" style="background-image: url('<%= data[0].url %>');"></li>
						<li class="product" style="background-image: url('<%= data[1].url %>');"></li>
					</ul>

					<h3>23% less CO<sub>2</sub>: Instead of <%= data[0].name %> use</h3>
					<span class="recommendation"><%= data[1].name %></span>

					<div class="arrow arrow-white">
					<i class="fa fa-chevron-right"></i>
		      </div>
	      </div>
    	</a>
    </section>


<!--     <section class="row-fluid ranking">
			<div class="col-xs-12">
				<h2>Your Rankings</h2>
				<div class="arrow arrow-green">
				<i class="fa fa-chevron-right"></i>
				</div>
      </div>
    </section> -->