.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: #d5ffcc;
  stroke-width: 1.5px;
}

.area {
  fill: url(#colortemp-gradient);
  stroke-width: 05px;
}

/*** areastuff 
path.area {
  fill: #e7e7e7;
}

path.line {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

***/
